
.input {
    color: rgba(9, 9, 9, 1);
    background-color: rgb(224, 221, 221);
    font-size: 17px;
    flex: 1 0 auto;
    height: 45px;
    padding: 8px 15px;

    transition: all 0.4s;

    &:focus {
        // outline: none;
        // background-color: inherit;
        // color: rgba(0, 0, 0, 1);
    }

    &:active {
        
    }
}