.footer {
    background-color: rgba(39, 123, 51, 0.6);
    
    height: 80px;
    width: 100%;
    margin-top: auto;

    &__container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__body {
        font-size: 19px;
    }

    &__logo{
        // display: flex;
        // align-items: center;
        cursor: pointer;
    }
}