.navbar {
    display: flex;
    align-items: center;
    column-gap: 45px;
    padding: 10px 0px;

    &__logo {
        display: flex;
        align-items: center;
        column-gap: 7px;

        img {
            height: 48px;
        }
    }

    &__title {
        font-size: 35px;
        font-weight: 700;
    }

    &__links {
        display: flex;
        column-gap: 10px;
    }

    &__link {
        background-color: #fff;
        border-radius: 15%;
        padding: 7px 15px;
        cursor: pointer;
    }
}